@font-face {
  font-family: "iconfont"; /* Project id 4858564 */
  src: url("//at.alicdn.com/t/c/font_4858564_gz54gnke27.woff2?t=1742007237778")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4858564_gz54gnke27.woff?t=1742007237778")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4858564_gz54gnke27.ttf?t=1742007237778")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousu:before {
  content: "\e655";
}

.icon-gouwuche:before {
  content: "\e61e";
}
