* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
em {
  font-style: normal;
}
.top {
  width: 100%;
  height: 40px;
  background-color: #333333;
}
.top .content {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  background-color: #333333;
}
.top .content .left1 a,
.top .content .right1 a {
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
}
.top .content .left1 a:hover,
.top .content .right1 a:hover {
  color: #fff;
}
.top .content .left1 span,
.top .content .right1 span {
  color: #424242;
  margin: 0 2px;
}
.top .content .left1 {
  float: left;
}
.top .content .right1 {
  float: right;
}
.top .content .right1 .shopcart {
  line-height: 40px;
  margin-left: 24px;
}
.top .content .right1 .shopcart a {
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 0 20px;
  background-color: #424242;
  color: #b0b0b0;
}
.top .content .right1 .shopcart a:hover {
  background-color: #fff;
  color: #ff6700;
}
nav {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  background-color: #ffffff;
}
nav img {
  width: 55px;
  height: 55px;
  margin-top: 22px;
  float: left;
}
nav .list1 {
  float: left;
  margin-left: 180px;
}
nav .list1 li {
  display: inline-block;
  padding: 39px 8px;
}
nav .list1 li a {
  color: #333333;
  font-size: 16px;
}
nav .list1 li a:hover {
  color: #ff6700;
}

nav .list2 {
  float: right;
}

nav input {
  width: 243px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-right: -5px;
  padding-left: 10px;
}
nav input:hover {
  border: 1px solid #b0b0b0;
}
nav input:focus {
  outline: 1px solid #ff6700;
}

nav button {
  width: 52px;
  height: 50px;
  margin-top: 25px;
  border: 1px solid #e0e0e0;
  color: #52606d;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
}
nav button:hover {
  background-color: #ff6700;
  color: #fff;
}

.show {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  background-image: url(image/product-1.webp);
  background-size: cover;
}
.show > ul {
  float: left;
  width: 234px;
  height: 460px;
  background-color: #434142;
  padding: 20px 0;
}
.show ul li a em {
  float: right;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}

.show ul li a {
  display: block;
  padding-left: 30px;
  height: 42px;
  color: #ffffff;
  font-size: 14px;
  line-height: 42px;
}
.show ul li a:hover {
  background-color: #ff6700;
}
.show .big-img {
  float: right;
  width: 992px;
  height: 460px;
  position: relative;
  cursor: pointer;
}
.show .big-img .lt {
  display: block;
  width: 41px;
  height: 69px;
  position: absolute;
  color: #828282;
  font-size: 50px;
  top: 200px;
  left: 0;
  cursor: pointer;
}
.show .big-img .lt:hover,
.show .big-img .gt:hover {
  background-color: #000000;
}
.show .big-img .gt {
  display: block;
  width: 41px;
  height: 69px;
  position: absolute;
  color: #828282;
  font-size: 50px;
  top: 200px;
  right: 0;
  cursor: pointer;
}
.show .big-img .dot-line ul {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
.show .big-img .dot-line ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #828282;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 2px;
}
.show .big-img .dot-line ul li:hover {
  background-color: #828282;
}
.show .big-img .dot-line ul .li2 {
  background-color: #828282;
}
footer {
  width: 1226px;
  height: 170px;
  margin: 14px auto;
}

footer .box-mix {
  width: 234px;
  height: 170px;
  float: left;
}
footer .box-mix ul {
  width: 234px;
  height: 170px;
  background-color: #5f5750;
  padding: 3px;
}
footer .box-mix > ul li {
  display: inline-block;
  width: 77px;
  height: 83px;
  border: 1px solid #828282;
  margin-right: -5px;
  text-align: center;
}
footer .box-mix > ul li img {
  width: 24px;
  height: 24px;
  margin: 20px 23px 0;
}
footer .box-mix > ul li a {
  color: #bab5b1;
  font-size: 12px;
}
footer .box-mix > ul li a:hover {
  color: #ffffff;
}

footer .box-pic {
  float: right;
}

footer .box-pic > ul li img {
  width: 316px;
  height: 170px;
}
footer .box-pic > ul li {
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
}
footer .box-pic > ul li img:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
